@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


#clockContainer{
    position: relative;
    
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    overflow: hidden;

}

h1,h2{
    position: relative;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
#hour,#minute,#second{
    position: absolute;
    background: rgb(0, 255, 195);
    border: 10px;
    transform-origin: bottom;
}
#hour{
    width: 1.5%;
    height: 24%;
    left: 49.15%;
    top: 26%;
    opacity: 0.8;
    
    
}
#minute{
    width: 1.2%;
    height: 30%;
    left: 49.2%;
    top: 20%;
    opacity: 0.8;
    
}
#second{
    width: 0.8%;
    height: 35%;
    left: 49.3%;
    top: 15%;
    opacity: 0.8;

    
}
